.alert {
    position: absolute;
    z-index: 2000;

    background: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    filter: drop-shadow(17px 17px 7px rgba(0, 0, 0, 1));

    border-width: 2px 2px 2px 10px;
    border-color: var(--color-main);
    border-style: solid;

    padding: 1% 2%;
    width: min(80vw, 700px);

    
    translate: 0 -200%;
    opacity: 0;
    scale: 0.5;
}
.alert__title {
    margin: 0 0 2% 0;
    font-size: min(6vw, 32px);
}
.alert__message {
    font-family: var(--font-secondary);
    font-size: min(5vw, 36px);
}
.alert__btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
}