.btn-start {
    font-size: max(10vw, 50px);
    
    text-shadow: 20px 20px 15px black;
}



.btn {
    position: absolute;
    z-index: 100;
    
    padding: 1.5vw 1.5vw 1.5vw 10vw;
    box-shadow: 17px 17px 7px rgba(0, 0, 0, 0.25);
}
.btn::after {
    content: "";
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 10% 0);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.btn__text {
    font-size: 32px;
}




.btn-menu {
    right: -3%;
    bottom: 20%;
}
.btn-main {
    right: 0%;
    bottom: 20%;
}



.btn-arrow-right {
    rotate: 180deg;
}


.btn-open-sidebar {
    display: none;
    width: 30px;
    height: 30px;

    border-top: 5px solid rgba(255, 255, 255, 1);
    border-left: 5px solid rgba(255, 255, 255, 1);

    position: relative;
    box-sizing: border-box;
}
.btn-open-sidebar::after {
    content: '' ;
    position: absolute;
    z-index: -1;
    width: 5px;
    height: 35px;
    background: white;
    top: -25%;
    left: 35%;
    transform: rotate(-45deg);
}