.processor-box {
    width: min(65%, 500px);

    position: absolute;
    left: 50%;
    translate: -50%;
}
.processor-box__img {
    width: 100%;
    height: 100%;

    box-shadow: 17px 17px 7px rgba(0, 0, 0, 0.5);
}



.processor-part {
    position: absolute;

    filter: drop-shadow(-22px -14px 9px rgba(0, 0, 0, 0.55));
}



.processor-part__1 {
    top: 5%;
    left: 5%;

    rotate: -162deg;
}
.processor-part__2 {
    top: 25%;
    left: 12%;

    rotate: -100deg;
}
.processor-part__3 {
    top: 40%;
    left: 2%;

    rotate: 185deg;
}
.processor-part__4 {
    top: 70%;
    left: 5%;

    rotate: 190deg;
}
.processor-part__5 {
    top: 80%;
    left: 25%;

    rotate: -120deg;
}
.processor-part__6 {
    top: 75%;
    left: 50%;

    rotate: 135deg;
}
.processor-part__7 {
    top: 69%;
    left: 70%;

    rotate: 210deg;
}
.processor-part__8 {
    top: 10%;
    left: 80%;

    rotate: 165deg;
}